<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>问题导则标记任务</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/ui/semantic/semantic.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/ui/semantic/style.css}">
    <script th:src="@{~/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{~/ui/semantic/semantic.min.js}"></script>
    <script th:src="@{~/js/question-guide.js}"></script>
</head>
<body>
<nav th:include="layout/nav::nav"></nav>
<div class="ui container" style="margin-top: 80px;">
    <h2 class="ui header">
        问题导则标记任务
        <div class="sub header">针对提出的问题，标记出问题所对应的导则。</div>
    </h2>
    <div class="ui divider"></div>
    <div class="ui teal indicating progress" id="progress" th:data-value="${taggedCount}" th:data-total="${allCount}">
        <div class="bar"></div>
        <div class="label"></div>
    </div>
    <div class="ui horizontal segments" th:if="${question}" >
        <div class="ui segment" style="width: 60%;" th:object="${question}">
            <div class="ui message">
                <div class="header">问题编号：<span th:text="*{id}"></span></div>
                <p></p>
                <div class="header">单位名称：<span th:text="*{orgName}"></span></div>
                <p></p>
                <div class="header">问题类型：
                    <span th:text="*{proCatalog}"></span> / <span
                            th:text="*{oneLevelFactor}"></span> /
                    <span th:text="*{twoLevelFactor}"></span></div>
            </div>
            <div class="ui message">
                <div class="header">检查内容</div>
                <p th:text="*{checkContent}"></p>
            </div>
            <div class="ui positive message">
                <div class="header">问题描述</div>
                <p th:text="*{questionDesc}"></p>
            </div>
            <div class="ui message">
                <div class="header">建议措施</div>
                <p th:text="*{suggest}"></p>
            </div>
        </div>
        <div class="ui segment" style="width: 40%;">
            <form th:action="@{/relation/tag-task/question-guide/post}" th:method="post">
                <h3 class="ui header">对应导则：</h3>
                <div class="ui divider"></div>
                <div class="ui floating dropdown labeled icon button" id="guide">
                    <i class="book icon"></i>
                    <span class="text">选择隐患排查类型</span>
                    <div class="menu">
                        <div class="item" th:each="check: ${checkList}" th:text="${check.id}+'.'+${check.checkName}"></div>
                    </div>
                </div>
                <p></p>
                <select class="ui fluid dropdown" id="type"></select>
                <p></p>
                <select class="ui fluid dropdown" id="item"></select>
                <input type="hidden" id="itemId" th:field="${form.checkItemId}">
                <input type="hidden" id="questionId" th:field="${form.questionId}" required>
                <p></p>
                <input type="submit" class="ui violet inverted button" value="提交" style="width: 100%;">
            </form>
        </div>
    </div>
</div>
</body>
</html>