<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>相关工作 - 标记任务</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/ui/semantic/semantic.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/ui/semantic/style.css}">
    <script th:src="@{~/ui/semantic/jquery-3.1.1.min.js}"></script>
    <script th:src="@{~/ui/semantic/semantic.min.js}"></script>
</head>
<body>
<nav th:include="layout/nav::nav"></nav>
<h1 th:text="${name}"></h1>
</body>
</html>